@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@implements IAsyncDisposable

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

Messages from the server:

<ul>
    @foreach (var message in _messages)
    {
        <li>@message</li>
    }
</ul>

@code
{
    private HubConnection? _hubConnection;
    private readonly List<string> _messages = new();

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl("https://localhost:7003/notifications", 
            o => o.AccessTokenProvider = () => Task.FromResult<string?>("eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6ImY0NWZlNDc1LTg0NjYtNDg0Zi1hZjY5LWEyNjU4YThlZTkxNSIsInN1YiI6ImY0NWZlNDc1LTg0NjYtNDg0Zi1hZjY5LWEyNjU4YThlZTkxNSIsImp0aSI6IjFjZTQzMDdjIiwiYXVkIjpbImh0dHA6Ly9sb2NhbGhvc3Q6NjUwNzQiLCJodHRwczovL2xvY2FsaG9zdDo0NDM5MiIsImh0dHA6Ly9sb2NhbGhvc3Q6NTI5MSIsImh0dHBzOi8vbG9jYWxob3N0OjcwMDMiXSwibmJmIjoxNzMwNjY5MzMwLCJleHAiOjE3Mzg2MTgxMzAsImlhdCI6MTczMDY2OTMzMSwiaXNzIjoiZG90bmV0LXVzZXItand0cyJ9.yegXQ2AtGg_K2cr9ICUwImjVgZJ7yvJ3XH3SUfVQfk8"))
        .Build();

        _hubConnection.On<string>("ReceiveNotification", message =>
        {
            _messages.Add(message);

            InvokeAsync(StateHasChanged);
        });

        await _hubConnection.StartAsync();
    }

    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.DisposeAsync();
        }
    }
}